<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Boundary value exploration</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body data-simulation="<%=simulationName %>">
    <script src="build.js"></script>
  </body>
</html>
